:root{
    --branco-principal: #ffffff;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #163bbf;
    --cor-de-fundo: #000c00;
}
*{
    margin: 0;
    padding: 0;
}
body{
   background-color: var(cor-de-fundo);
   color: var(--branco-principal);
}
.container{
    height: 100vh;
    display: grid; 
    grid-template-columns: 33% 33% 33%; 
}
.principal{
    background-image: url(Background.png);
    background: repeat;
    background-size: contain;
}
.container_botao{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
}
.botao_secundario { 
background-color: transparent;
}
.container__aviso { 
font-size: 12px; 
color: var(--cinza-secundario); 
}
